.accessibility-wrapper {
  position: fixed;
  background-color: #17191c;
  top: 0;
  left: 0;
  width: 100vw;
}
.accessibility-options {
  color: var(--article-text-color);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 1200px;
  padding: 10px 15px;
  color: white;
  font-size: 16px !important;
}
.article-container {
  color: var(--article-text-color);
  background-color: var(--article-bg);
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  padding: 24px 32px;
}
.theme-option span {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.custom-button {
  outline: none;
  max-width: 150px;
  padding: 8px 12px;
}
.font-option {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  height: fit-content;
  overflow: hidden;
}
.font-option span {
  padding: 4px 4px;
}
.font-option span:nth-child(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 4px;
}
